@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

* {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

body {
  background-color: var(--white-100);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
  grid-area: header;
  background-color: var(--background);
  padding: 10px;
  font-size: 1em;
  color: var(--background-text-color);
  display: flex;
  justify-content: space-between;
}

.header-icon {
  width: 20px;
  cursor: pointer;
}

.header-icon:hover {
  transform: scale(1.2, 1.2);
}

.left-side-menu > div {
  display: inline-block;
}

.dropdown {
  position: relative;
}

.dropdown-menu {
  position: absolute;
  padding: 0px;
  display: none;
  right: 0px;
  background-color: var(--modal-background);
}

.dropdown-menu > li {
  display: block;
  white-space: nowrap;
  color: var(--elem-4);
  cursor: pointer;
}

.dropdown-menu > li > a {
  text-decoration: none;
  color: inherit;
  width: 100%;
  padding: 0.5em 0.8em;
  display: inline-block;
}

.dropdown-menu > li:hover {
  background-color: var(--elem-2);
  color: var(--modal-header-text-color);
}

.dropdown:hover .dropdown-menu {
  display: block;
}

.account-icon:hover > .dropdown-menu {
  display: block;
  border: 1px solid black;
  opacity: 1;
}

main {
  min-height: 90vh;
}

footer {
  min-height: 10vh;
  background-color: var(--elem-1);
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 90vh;
}

.modal-50 {
  width: 570px;
  height: 380px;
  background-color: var(--white-100);
  position: relative;
  border-radius: 20px;
}

.soft-shadow-15 {
  box-shadow: 0px 0px 20px 0px var(--black-015);
}

.modal-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.modal-line-center {
  text-align: center;
  width: 370px;
  height: 80px;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  justify-content: flex-end;
  display: flex;
  flex-direction: column;
}

.modal-line-center > div {
  display: flexbox;
  text-align: left;
  margin-top: 9px;
  position: relative;
}

.input-header {
  font-size: 18px;
}

.input-login-form {
  border: 3px solid var(--primary-80);
  border-radius: 0px;
  width: 100%;
  box-sizing: border-box;
  border-radius: 10px;
  font-weight: 500;
  font-size: 24px;
  color: var(--black-100);
  padding-left: 19px;
}

input {
  padding: 0.4em 0.5em;
  font-size: 1em;
  border: 1px solid var(--background-text-color);
}

button {
  background-color: var(--primary-80);
  font-size: 24px;
  font-weight: 500;
  color: var(--white-100);
  width: 100%;
  height: 40px;
  border-radius: 5px;
  border: 0px;
}

.justify-top {
  justify-content: flex-start;
}

.login-form-error-message {
  color: var(--error-message);
  font-size: 14px;
  position: absolute;
  width: 100%;
  height: 40px;
  top: 40px;
  left: 0px;
  justify-content: center;
  text-align: center;
  display: flex;
  align-items: center;
  font-weight: 400;
}

#login-button-block > div > button {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* MEDIA TAGS */
@media (max-width: 980px) {
  header {
    padding-left: 0.5em;
    font-size: 3em;
  }

  .modal-50 {
    width: 80%;
  }

  .modal-header {
    font-size: 2.5em;
  }

  .modal-body {
    padding-top: 2em;
  }

  .modal-line-center {
    margin-top: 1em;
    margin-bottom: 1em;
  }

  .modal-line-center > div > span {
    font-size: 2em;
  }

  input {
    font-size: 2.5em;
  }

  button {
    font-size: 2.5em;
  }
}
