:root {
    --button-color-1: #448AFF;
    --button-color-1-light: #568efc;
    --button-color-2: #67C430;

    --button-text-color-1: #FAFAFA;

    --modal-border: rgba(0, 0, 0, 0.2);

    --input-background: #f0f2f5;

}